#root {
  align-items: center;
  animation: appearing 0.5s ease-in-out;
  backdrop-filter: blur(14px);
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  width: 100%;
}

.s2catalog {
  align-items: center;
  background-color: #242424e1;
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  justify-content: center;
  width: 100%;
}

.footer {
  align-items: center;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  user-select: none;
  width: 100%;

  &-text {
    font-size: 1.2em;
    font-weight: bold;
  }

  svg {
    transform: translateY(0.25em);
    height: 1.25em;
    width: 1.25em;
  }
}

@keyframes appearing {
  0% {
    backdrop-filter: none;
    opacity: 0;
    transform: translateY(1em);
  }
  100% {
    backdrop-filter: blur(14px);
    opacity: 1;
    transform: none;
  }
}
