@font-face {
  font-family: "Stalker2";
  src: url("/stalker2.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

:root {
  font-family: "Stalker2", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #7b5418;
  --accent-color--hover: #a3732c;
  --background-color: #242424;
  --grey-dark-color: #333;
  --grey-normal-color: #3d3d3d;
  --grey-light-color: #858585;
  --white-color: #fff;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;

  &:hover {
    color: var(--accent-color--hover);
  }
}

body {
  background-image: url("/background.jpg");
  background-position: 72% 50%;
  background-size: cover;
  display: flex;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  text-align: center;
}

@media (max-width: 480px) {
  :root {
    font-size: 10px;
  }
}
